@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$font: "Work Sans", sans-serif;


$white: #fff;
$dark-blue: #161c3e;
$dark-gray: #50556d;
$mid-gray: #777a8b;
$light-gray: #cccbdb;
$background: #f9fafc;
$light-blue: #7690f9;
$blue:#303BC1;
